<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.vadimbliashuk.secondsaveyourpassword">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.AddNewLogin"
            android:label="Add New Login"
            android:theme="@style/AppTheme.YesActionBar"
            android:parentActivityName=".activities.AllLoginsActivity"></activity>
        <activity
            android:name=".activities.AllLoginsActivity"
            android:label="All Items"/>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>